*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
#chef{
    background-color: #1b1b1b ;
    height: 800px;
    align-items: center;
    justify-content:space-between;
    border: 1px solid black;
    box-shadow: 18px 8px 16px 18px #2d2c2c;
}

#chef h3{
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin-top: 5%;
}
#gallery{
    text-align: center;
    display: flex;
    margin-top: 10%;
    margin-left: 6%;
    padding: 0%;
}
#gallery img{
    height: 80%;
    width: 50%;
    background: linear-gradient(to right, #fff, #1b1b1b);
    transition: 0.3s ease; 
}
#gallery img:hover{
    filter: brightness(20%);
    cursor: pointer;
    transform: scale(1.05);
}
#gallery p{
    margin-top: 2%;
    background: linear-gradient(to right, yellow, #ee0979); /* orange to pink */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
