#table{
        height: 900px;
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, #1c1c1c, #3a3a3a);
      padding: 40px;
    }

#table h1 {
        font-family: "Great Vibes", monospace;
        font-size: 5rem;
      text-align: center;
      color: rgb(235, 58, 87);
      margin-bottom: 5%;
      margin-top: 1%;
    }

    .booking-form {
       background-color: #2c2c2c;
       margin: auto;
      border-radius: 16px;
      padding: 30px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
      width: 100%;
      max-width: 550px;
    }

    .booking-form label {
      display: block;
      margin: 15px 0 5px;
      font-weight: bold;
        color: #fff;
    }

    .booking-form input,
    .booking-form select {
        background-color: #444;
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid rgb(255, 255, 255);
    }

    .booking-form button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      background-color: rgb(235, 58, 87);
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .booking-form button:hover {
      background-color: #8f2216;
    }